.royalnexuslogo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
    border-bottom: 1px solid #174273;
}

.royalnexuslogo > img {
    height: 3rem;
}

@media (max-width: 600px) {
    .royalnexuslogo {
        padding-left: 4rem;
    }
}