<div>
        <div>
        <mat-toolbar style="display: flex; justify-content: space-between; color: #174273">
            <img class="royalnexuslogo" src="https://imgur.com/TOnjmRT.png" />
            <div class="example-sidenav-content home-icon">
                
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <div><button mat-button color="primary" [routerLink]="['/login']">Login</button></div>
                    <!-- <div><button [routerLink]="['/logout']">Logout</button></div> -->
                </mat-menu>

            </div>
        </mat-toolbar>
        </div>
</div>