<p>
  <button mat-raised-button color="primary" [routerLink]="['/overview']">Back</button>
</p>

<div class="flex-container wrap">
  <mat-card class="details--default_card">
    <mat-card-header>
      <mat-card-title>Information</mat-card-title>
      <mat-card-subtitle>Details about this element</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="details--card_item">
        <label>Position</label><span>{{element.position}}</span>
      </div>
      <div class="details--card_item">
        <label>Name</label><span>{{element.name}}</span>
      </div>
      <div class="details--card_item">
        <label>Symbol</label><span>{{element.symbol}}</span>
      </div>
      <div class="details--card_item">
        <label>Weight</label><span>{{element.weight}}</span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="details--default_card">
    <mat-card-header>
      <mat-card-title>Another Information Panel</mat-card-title>
      <mat-card-subtitle>Details about this element</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="details--card_item">
        <label>Position</label><span>{{element.position}}</span>
      </div>
      <div class="details--card_item">
        <label>Name</label><span>{{element.name}}</span>
      </div>
      <div class="details--card_item">
        <label>Symbol</label><span>{{element.symbol}}</span>
      </div>
      <div class="details--card_item">
        <label>Weight</label><span>{{element.weight}}</span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="details--default_card">
    <mat-card-header>
      <mat-card-title>Another Third Panel</mat-card-title>
      <mat-card-subtitle>Details about this element</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="details--card_item">
        <label>Position</label><span>{{element.position}}</span>
      </div>
      <div class="details--card_item">
        <label>Name</label><span>{{element.name}}</span>
      </div>
      <div class="details--card_item">
        <label>Symbol</label><span>{{element.symbol}}</span>
      </div>
      <div class="details--card_item">
        <label>Weight</label><span>{{element.weight}}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
