<div class="container">
    <div>
      <form onsubmit="sendEmail(); reset(); return false;">
        <h3 class="font">Contact Us!</h3>
        <input class="input" type="text" id="name" placeholder="Name" required>
        <input class="input" type="text" id="phone" placeholder="Phone Number" required>
        <input class="input" type="email" id="email" placeholder="E-Mail" required>
        <textarea class="input" id="message" placeholder="How Can We Help?" rows="4" required></textarea>
        <button class="button" type="submit">Send!</button>
      </form>
    </div>
  </div>