/* IDEA: Consider refactoring reusable CSS into more global CSS */
.backgroundimage {
  background-image: url("https://www.travellens.co/content/images/2022/02/Front-Royal.jpg");
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;
  width: 100%;
  z-index: -1;
  position: fixed;
}

.mat-card {
  margin-top: 2rem;
  padding: 1rem;
  width: 28rem;
}

.button_group-flex-end {
  display: flex;
  justify-content: flex-end;
}

.button_group-space-between {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-left: auto; 
  margin-right: auto;

  position: relative;

  overflow: auto;
}

.formfields {
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin-bottom: 2rem;
}

h1 {
  margin-bottom: 1rem;
}

h1, h4 {
  width: 100%;
  text-align: center;
}

.microcopy {
  max-width: 22rem;
  padding: 0rem 2rem;
  line-height: 1.25rem;
  font-size: 1rem;
}

.helpcopy {
  font-size: .85rem;
  text-align: right;
}

.input,
.suffix-input {
  flex-direction: column;
  justify-content: center;
  display: flex;
  font-size: 1.25rem;
  padding: 0rem 2rem;
}

.suffix-input {
  width: 8rem;
}

.imageinput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagePreview {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.imagePreview > img {
  max-width: 28rem;
  max-height: 20rem;
}

@media (max-width: 600px) {
  .mat-card {
    max-width: 14rem;
  }

  .microcopy {
    padding: 0rem;
  }

  .imagePreview > img {
    max-width: 14rem;
    max-height: 20rem;
  }
}