<form [formGroup]="inputForm">  
<div class="backgroundimage">
  <div class="wrapper">
    <div class="formfields">
      <div>
        <h1 class="header">Let's Get Started!</h1>
      </div>  

      <div class="divider">
        <mat-divider></mat-divider>
      </div>

      <div>
        <h1 class="midheader">Tell us about yourself!</h1>
      </div>

      <div>
        <h1 class="subheader">Asterisks (*) indicate required fields.</h1>
      </div>

      <div class="firstnameinput">
        <mat-form-field>
          <mat-label>First Name:</mat-label>
          <input type="text" formControlName="firstname" matInput required>
        </mat-form-field>
      </div> 

      <div class="lastnameinput">  
        <mat-form-field>
          <mat-label>Last Name:</mat-label>
          <input type="text" formControlName="lastname" matInput required>
        </mat-form-field>
      </div>

      <div class="suffixinput">
        <mat-form-field>
          <mat-label>Suffix:</mat-label>
          <mat-select formControlName="suffix" yPosition="above">
            <mat-option value="one">Sr.</mat-option>
            <mat-option value="one">Jr.</mat-option>
            <mat-option value="one">I</mat-option>
            <mat-option value="one">II</mat-option>
            <mat-option value="one">III</mat-option>
            <mat-option value="one">IV</mat-option>
          </mat-select>
        </mat-form-field>
      </div>  

      <div class="divider">
        <mat-divider></mat-divider>
      </div>

      <div>
        <h1 class="midheader">Tell us about your business!</h1>
      </div>

      <div>
        <h1 class="subheader">Asterisks (*) indicate required fields.</h1>
      </div>

      <div class="businessnameinput">
        <mat-form-field>
          <mat-label>Business Name:</mat-label>
          <input type="text" formControlName="businessname" matInput required>
        </mat-form-field>
      </div>  

      <div class="businessemailinput">
        <mat-form-field>
          <mat-label>Business Email:</mat-label>
          <input type="text" formControlName="businessemail" matInput required>
        </mat-form-field>
      </div>  

      <div class="businessphoneinput">
        <mat-form-field>
          <mat-label>Business Phone:</mat-label>
          <input type="text" formControlName="businessphone" matInput required>
        </mat-form-field>
      </div>  

      <div class="businessaddressinput">
        <mat-form-field>
          <mat-label>Business Address Line #1:</mat-label>
          <input type="text" formControlName="businessaddressline1" matInput required>
        </mat-form-field>
      </div>

      <div class="businessaddressinput">
        <mat-form-field>
          <mat-label>Business Address Line #2:</mat-label>
          <input type="text" formControlName="businessaddressline2" matInput>
        </mat-form-field>
      </div>

      <div class="businessaddresstowninput">
        <mat-form-field>
          <mat-label>City:</mat-label>
          <input type="text" formControlName="city" matInput required>
        </mat-form-field>
      </div>
      
      <div class="businessaddresszipinput">
        <mat-form-field>
          <mat-label>Zipcode:</mat-label>
          <input type="text" formControlName="zip" matInput required>
        </mat-form-field>
      </div>

      <div class="divider">
        <mat-divider></mat-divider>
      </div>

      <div>
        <h1 class="midheader">Upload your logo and images!</h1>
      </div>

      <div>
        <h1 class="subheader">Upload your main logo here.</h1>
      </div>

      <!-- IDEA: Make an input component to follow DRY -->

       <div class="logoinput">
         <input style="display: none" type="file" (change)="onFileSelected('logo1', $event)" #logo1Input>
        <!-- *** ^ TWEAK v *** -->
        <button mat-button (click)="logo1Input.click()">Upload Logo</button>
        <!-- <button type="button" (click)="onUpload()">Upload</button> -->
        <div *ngIf="assets.logos.hasOwnProperty('logo1')" class="logocheckmark"><mat-icon>done_outline</mat-icon></div>
      </div> 

        
      <div class="imagetextdivider">
        <mat-divider></mat-divider>
      </div>

      <div>
        <h1 class="imagetextheader">Choose  up to five images to upload.</h1>
      </div> 

      <div>
        <h1 class="imagetextheader2">Descriptions are optional!</h1>
      </div>
      
      <div>
        <div class="imageinput">
          <input style="display: none" type="file" (change)="onFileSelected('file1', $event)" #file1Input>
          <!-- *** ^ TWEAK v *** -->
          <button mat-button (click)="file1Input.click()">Upload Image #1</button>
          <!-- <button type="button" (click)="onUpload()">Upload</button> -->
          <div *ngIf="assets.files.hasOwnProperty('file1')" class="imagecheckmark"><mat-icon>done_outline</mat-icon> </div>
        </div> 


        <div class="imagetextbox">
          <mat-form-field class="example-full-width">
            <mat-label>Describe your image here!</mat-label>
            <textarea matInput formControlName="image1text"></textarea>
          </mat-form-field>
        </div> 
      </div>

      <div *ngIf="assets.files.hasOwnProperty('file1')">
        <div class="imageinput">
          <input style="display: none" type="file" (change)="onFileSelected('file2', $event)" #file2Input>
          <!-- *** ^ TWEAK v *** -->
          <button mat-button (click)="file2Input.click()">Upload Image #2</button>
          <!-- <button type="button" (click)="onUpload()">Upload</button> -->
          <div *ngIf="assets.files.hasOwnProperty('file2')" class="imagecheckmark"><mat-icon>done_outline</mat-icon></div>
        </div> 

        <div class="imagetextbox">
          <mat-form-field class="example-full-width">
            <mat-label>How about this image?</mat-label>
            <textarea matInput formControlName="image2text"></textarea>
          </mat-form-field>
        </div> 
      </div> 

      <div *ngIf="assets.files.hasOwnProperty('file2')">
        <div class="imageinput">
          <input style="display: none" type="file" (change)="onFileSelected('file3', $event)" #file3Input>
          <!-- *** ^ TWEAK v *** -->
          <button mat-button (click)="file3Input.click()">Upload Image #3</button>
          <!-- <button type="button" (click)="onUpload()">Upload</button> -->
          <div *ngIf="assets.files.hasOwnProperty('file3')" class="imagecheckmark"><mat-icon>done_outline</mat-icon></div>
        </div> 

        <div class="imagetextbox">
          <mat-form-field class="example-full-width">
            <mat-label>Lucky number three!</mat-label>
            <textarea matInput formControlName="image3text"></textarea>
          </mat-form-field>
        </div> 
      </div>

      <div *ngIf="assets.files.hasOwnProperty('file3')">
        <div class="imageinput">
          <input style="display: none" type="file" (change)="onFileSelected('file4', $event)" #file4Input>
          <!-- *** ^ TWEAK v *** -->
          <button mat-button (click)="file4Input.click()">Upload Image #4</button>
          <!-- <button type="button" (click)="onUpload()">Upload</button> -->
          <div *ngIf="assets.files.hasOwnProperty('file4')" class="imagecheckmark"><mat-icon>done_outline</mat-icon></div>
        </div> 

        <div class="imagetextbox">
          <mat-form-field class="example-full-width">
            <mat-label>What about this one?</mat-label>
            <textarea matInput formControlName="image4text"></textarea>
          </mat-form-field>
        </div>
      </div> 

      <div *ngIf="assets.files.hasOwnProperty('file4')">
        <div class="imageinput">
          <input style="display: none" type="file" (change)="onFileSelected('file5', $event)" #file5Input>
          <!-- *** ^ TWEAK v *** -->
          <button mat-button (click)="file5Input.click()">Upload Image #5</button>
          <!-- <button type="button" (click)="onUpload()">Upload</button> -->
          <div *ngIf="assets.files.hasOwnProperty('file5')" class="imagecheckmark"><mat-icon>done_outline</mat-icon></div>
        </div> 

        <div class="imagetextbox">
          <mat-form-field class="example-full-width">
            <mat-label>Any words of wisdom?</mat-label>
            <textarea matInput formControlName="image5text"></textarea>
          </mat-form-field>
        </div> 
      </div>  

      <div class="applybutton">
        <button mat-button type="submit" (click)="onSubmit()">Submit!</button>
      </div>
      
    </div>
  </div>  
</div>  
</form>