<!-- IDEA: Make 'backgroundImage' a component -->
<div class="backgroundimage"></div>
<form [formGroup]="inputForm">  
  <div class="wrapper">
    <div class="formfields">
      <mat-card *ngIf="activeForm === 'info'">
        <h1>Let's Get Started</h1>
        <h4 class="microcopy">We'll use your data to make your custom website - fast! With a bit of info, we'll get you rollin'!</h4>
        <div class="helpcopy">Asterisks (*) indicate required fields.</div>

        <div class="input">
          <mat-form-field>
            <mat-label>First Name:</mat-label>
            <input type="text" formControlName="firstname" matInput required>
          </mat-form-field>
        </div> 

        <div class="input">  
          <mat-form-field>
            <mat-label>Last Name:</mat-label>
            <input type="text" formControlName="lastname" matInput required>
          </mat-form-field>
        </div>

        <div class="suffix-input">
          <mat-form-field>
            <mat-label>Suffix:</mat-label>
            <mat-select formControlName="suffix" yPosition="above">
              <mat-option value="one">Sr.</mat-option>
              <mat-option value="one">Jr.</mat-option>
              <mat-option value="one">I</mat-option>
              <mat-option value="one">II</mat-option>
              <mat-option value="one">III</mat-option>
              <mat-option value="one">IV</mat-option>
            </mat-select>
          </mat-form-field>
        </div>  

        <h1>What's the business called?</h1>
        <h4 class="microcopy">We'll include the business info on your website, of course</h4>

        <div>
        </div>

        <div class="input">
          <mat-form-field>
            <mat-label>Business Name:</mat-label>
            <input type="text" formControlName="businessname" matInput required>
          </mat-form-field>
        </div>  

        <div class="input">
          <mat-form-field>
            <mat-label>Email:</mat-label>
            <input type="email" formControlName="businessemail" matInput required>
          </mat-form-field>
          <div class="helpcopy">We never spam our team. Hope you join us</div>
        </div>  

        <div class="input">
          <mat-form-field>
            <mat-label>Phone:</mat-label>
            <input type="text" formControlName="businessphone" matInput required>
          </mat-form-field>
        </div>  

        <div class="input">
          <mat-form-field>
            <mat-label>Address Line #1:</mat-label>
            <input type="text" formControlName="businessaddressline1" matInput required>
          </mat-form-field>
        </div>

        <div class="input">
          <mat-form-field>
            <mat-label>Address Line #2:</mat-label>
            <input type="text" formControlName="businessaddressline2" matInput>
          </mat-form-field>
        </div>

        <div class="input">
          <mat-form-field>
            <mat-label>City:</mat-label>
            <input type="text" formControlName="city" matInput required>
          </mat-form-field>
        </div>
        
        <div class="input">
          <mat-form-field>
            <mat-label>Zipcode:</mat-label>
            <input type="text" formControlName="zip" matInput required>
          </mat-form-field>
        </div>

        <div class="button_group-flex-end">
          <button mat-stroked-button color="primary" type="submit" (click)="uploadData('info', 'logo')">Next</button>
        </div>
        
      </mat-card>
      <mat-card *ngIf="activeForm === 'logo'">
        <h1>Pick a great logo</h1>
        
        <div class="imageinput">
          <input style="display: none" type="file" (change)="onFileSelected('logo1', $event)" #logo1Input>
          <button mat-button (click)="logo1Input.click()">Upload Logo</button>
          <div *ngIf="assets.logos.hasOwnProperty('logo1')" class="logocheckmark"><mat-icon>done_outline</mat-icon></div>
        </div> 

        <div *ngIf="assets.logos.hasOwnProperty('logo1')" class="imagePreview">
          <img [src]=parseFileToUrl(assets.logos.logo1) />
        </div>

        <div class="button_group-space-between">
          <button mat-stroked-button (click)="switchForm('info')">Back</button>
          <button mat-stroked-button color="primary" (click)="uploadData('logo', 'image')">Next</button>
        </div>

      </mat-card>
      <mat-card *ngIf="activeForm === 'image'">
        <h1>Pick a few great pics</h1>
        <h4 class="microcopy">Choose up to five images to upload. We'll showcase your business with the pictures you choose!</h4>

        <div>
          <div class="imageinput">
            <input style="display: none" type="file" (change)="onFileSelected('file1', $event)" #file1Input>
            <button mat-button (click)="file1Input.click()">Upload Image #1</button>
            <div *ngIf="assets.files.hasOwnProperty('file1')" class="imagecheckmark"><mat-icon>done_outline</mat-icon> </div>
          </div>

          <div *ngIf="assets.files.hasOwnProperty('file1')" class="imagePreview">
            <img [src]=parseFileToUrl(assets.files.file1) />
          </div>

          <div class="input">
            <mat-form-field class="example-full-width">
              <mat-label>Describe your image here!</mat-label>
              <textarea matInput formControlName="image1text"></textarea>
            </mat-form-field>
          </div> 
        </div>

        <div *ngIf="assets.files.hasOwnProperty('file1')">
          <div class="imageinput">
            <input style="display: none" type="file" (change)="onFileSelected('file2', $event)" #file2Input>
            <button mat-button (click)="file2Input.click()">Upload Image #2</button>
            <div *ngIf="assets.files.hasOwnProperty('file2')" class="imagecheckmark"><mat-icon>done_outline</mat-icon></div>
          </div>

          <div *ngIf="assets.files.hasOwnProperty('file2')" class="imagePreview">
            <img [src]=parseFileToUrl(assets.files.file2) />
          </div>

          <div class="input">
            <mat-form-field class="example-full-width">
              <mat-label>How about this image?</mat-label>
              <textarea matInput formControlName="image2text"></textarea>
            </mat-form-field>
          </div> 
        </div> 

        <div *ngIf="assets.files.hasOwnProperty('file2')">
          <div class="imageinput">
            <input style="display: none" type="file" (change)="onFileSelected('file3', $event)" #file3Input>
            <button mat-button (click)="file3Input.click()">Upload Image #3</button>
            <div *ngIf="assets.files.hasOwnProperty('file3')" class="imagecheckmark"><mat-icon>done_outline</mat-icon></div>
          </div> 

          <div *ngIf="assets.files.hasOwnProperty('file3')" class="imagePreview">
            <img [src]=parseFileToUrl(assets.files.file3) />
          </div>

          <div class="input">
            <mat-form-field class="example-full-width">
              <mat-label>Lucky number three!</mat-label>
              <textarea matInput formControlName="image3text"></textarea>
            </mat-form-field>
          </div> 
        </div>

        <div *ngIf="assets.files.hasOwnProperty('file3')">
          <div class="imageinput">
            <input style="display: none" type="file" (change)="onFileSelected('file4', $event)" #file4Input>
            <button mat-button (click)="file4Input.click()">Upload Image #4</button>
            <div *ngIf="assets.files.hasOwnProperty('file4')" class="imagecheckmark"><mat-icon>done_outline</mat-icon></div>
          </div> 

          <div *ngIf="assets.files.hasOwnProperty('file4')" class="imagePreview">
            <img [src]=parseFileToUrl(assets.files.file4) />
          </div>

          <div class="input">
            <mat-form-field class="example-full-width">
              <mat-label>What about this one?</mat-label>
              <textarea matInput formControlName="image4text"></textarea>
            </mat-form-field>
          </div>
        </div> 

        <div *ngIf="assets.files.hasOwnProperty('file4')">
          <div class="imageinput">
            <input style="display: none" type="file" (change)="onFileSelected('file5', $event)" #file5Input>
            <button mat-button (click)="file5Input.click()">Upload Image #5</button>
            <div *ngIf="assets.files.hasOwnProperty('file5')" class="imagecheckmark"><mat-icon>done_outline</mat-icon></div>
          </div>

          <div *ngIf="assets.files.hasOwnProperty('file5')" class="imagePreview">
            <img [src]=parseFileToUrl(assets.files.file5) />
          </div>

          <div class="input">
            <mat-form-field class="example-full-width">
              <mat-label>Any words of wisdom?</mat-label>
              <textarea matInput formControlName="image5text"></textarea>
            </mat-form-field>
          </div> 
        </div>

        <div class="button_group-space-between">
          <button mat-stroked-button (click)="switchForm('logo')">Back</button>
          <button mat-stroked-button color="primary" (click)="uploadData('image', 'final')">Choose Layouts</button>
        </div>

      </mat-card>
        
    </div>
  </div>  
</form>