<div>
    <mat-toolbar color="secondary" style="display: flex; justify-content: flex-start;">
        <span>{{businessName}}</span>
        <div class="output-button-nav">
            <button [routerLink]="['/output-landing']" mat-raised-button color="primary">Layout</button>
            <button [routerLink]="['/output-about']" mat-raised-button color="primary">About</button>
            <button [routerLink]="['/output-contact']" mat-raised-button color="primary">Contact</button>
        </div>
    </mat-toolbar>
</div>
<div class="landing-container">
    <div class="landing-rows">
        Contact
    </div>
</div>