<!DOCTYPE html>
<html>
<head>
<title>Testimonials Component</title>
</head>
<style>

.container {
  height: 100px;
  width: 300px;
  position: relative;
  border: 3px solid black;
  margin: auto;
}

.header {
  font-family: Garamond, serif;
  font-size: 20px;
  text-align: center;
  margin-top: 8px;
  font-weight: bold;
}

.star-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
}

.star {
  height: 35px;
  width: 35px;
  margin-right: 5px;
  margin-left: 5px;
}

</style>

<body style="background-color:white;">
<div class="container">
  <div class="header">Wow, nice dick broh!</div>
    <div class="star-row">
        <img class="star" src="Testimonials Component Image.png" />
        <img class="star" src="Testimonials Component Image.png" />
        <img class="star" src="Testimonials Component Image.png" />
        <img class="star" src="Testimonials Component Image.png" />
        <img class="star" src="Testimonials Component Image.png" />
    </div>
</div>    
</body>  
</html>