img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

h3 {
    text-align: center;
}

div {
    text-align: center; 
}

.inv {
    background: #222;
    padding: 32px;
    color: #aaa;
}