.about-container {
    margin-top: 2rem;
}

.about-rows {
    margin: 4rem 0rem 4rem 0rem;
}

.about-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DDD;
    padding: 2rem 0rem 2rem 0rem;
}

.about-row-image,
.about-row-copy {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.output-button-nav > button {
    margin-left: 1rem;
}

.imagePreview {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.imagePreview > img {
    max-width: 28rem;
    max-height: 20rem;
}

.confirm-button {
    position: fixed;
    right: 0.5rem;
    bottom: 0.25rem;
    z-index: 3;
    height: 3rem;
    width: 3rem;
}

@media (max-width: 600px) {
    .about-row {
        flex-direction: column;
    }

    .about-row-image > img {
        padding: 2rem 0rem 2rem 0rem;
    }

    .imagePreview > img {
      max-width: 14rem;
      max-height: 20rem;
    }
}