<!DOCTYPE html>
<html>
<head>
<title>Logo Component</title>
</head>
<style>

.container {
  height: 200px;
  width: 300px;
  position: relative;
  border: 3px solid black;
  margin: auto;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
h3{text-align: center;}
div{text-align: center; font-family: Garamond, serif;}

</style>

<body style="background-color:white;">
<div class="container">
  <img src="Logo Component Image.png">
  <h3 class="important_heading">Down Home Comfort Bakery</h3>
  <div>
    <div class="idea">120A East Main Street</div>
    <div class="idea">Front Royal VA 22630</div>
    <div class="idea">540-635-6013</div>
  </div>
</div>
​
</html>
