<div class="mat-app-background basic-container"
     style="height: 100vh;">
  <h1>Royal Nexus</h1>
  <div style="margin: 5% 0%;">

    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        
        <ul class="menu">
          <li><button mat-button color="primary" [routerLink]="['/login']">0. Login</button></li>
          <!-- <li><button [routerLink]="['/logout']">Logout</button></li> -->
          <li><button mat-button color="primary" [routerLink]="['/input']">1. Input Data</button></li>
          <li><button mat-button color="primary" [routerLink]="['/home']">2. Home</button></li>
          <li><button mat-button color="primary" [routerLink]="['/output-landing']">3. Finish</button></li>
        </ul>

      </mat-drawer>

      <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          Toggle sidenav
        </button>
      </div>

      <router-outlet></router-outlet>

    </mat-drawer-container>


  </div>
</div>
