<div class="mat-app-background basic-container"
     style="height: 100vh;">
    <div>
      <app-navbar></app-navbar>
    <div>

    <div class="custom-stepper">
      <div (click)="loadPage('getting-started')">
        Getting Started!
      </div>
      <div (click)="loadPage('choose-layout')">
        Choose Layout
      </div>
      <div (click)="loadPage('output-landing')">
        Preivew Website
      </div>
      <div (click)="loadPage('sign-up')">
        Sign Up
      </div>
    </div>
      

  </div>

  <div>

    <mat-drawer-container autosize>
      <mat-drawer #drawer class="sidebar" mode="side">
        
        <app-sidebar></app-sidebar>

      </mat-drawer>

      <div class="home-icon">
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
        </button>
      </div>

      <router-outlet></router-outlet>

    </mat-drawer-container>


  </div>
</div>
