<div class="mat-app-background basic-container"
     style="height: 100vh;">
    <div>
      <app-navbar></app-navbar>
    <div>

    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="changeMe()" label="Getting Started!">
      </mat-step>
      <mat-step [stepControl]="changeMe()" label="Choose Options">
      </mat-step>
      <mat-step [stepControl]="changeMe()" label="Confirm">
      </mat-step>
      <mat-step label="Sign Up!">
      </mat-step>
    </mat-stepper>
      

  </div>

  <div>

    <mat-drawer-container autosize>
      <mat-drawer #drawer class="sidebar" mode="side">
        
        <app-sidebar></app-sidebar>

      </mat-drawer>

      <div class="home-icon">
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
        </button>
      </div>

      <router-outlet></router-outlet>

    </mat-drawer-container>


  </div>
</div>
