.sidebar {
  padding: 1.5rem;
}

.home-icon {
  display: flex;
  justify-content: flex-start;
  height: 3rem;
}

.custom-stepper {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.custom-stepper > div {
  padding: 2rem;
  cursor: pointer;
}

.custom-stepper > div:hover {
  background-color: #6f0012;
  color: white;
}