.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.gridster--wrapper {
  height: 600px;
  width: 100%;
}

.gridster--item-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
h3{text-align: center;}
div{text-align: center; font-family: Garamond, serif;}