<div>
    <div class="margintop">
        <button mat-button [routerLink]="['/input']">Input Data</button>
    </div>

    <div class="margintop">
        <button mat-button [routerLink]="['/home']">Home</button>
    </div>

    <div class="margintop">
        <button mat-button [routerLink]="['/output-landing']">Finish</button>
    </div>   

    <div class="margintop">
        <button mat-button [routerLink]="['/logout']">Logout</button>
    </div>

    <div class="margintop">
        <button mat-button [routerLink]="['/settings']">Settings</button>
    </div>
</div>