<div>
    <div class="margintop">
        <button mat-button [routerLink]="['/input']">Getting Started!</button>
    </div>

    <div class="margintop">
        <button mat-button [routerLink]="['/choose-layout']">Choose Layout</button>
    </div>

    <div class="margintop">
        <button mat-button [routerLink]="['/output-landing']">Finish</button>
    </div>   

    <!-- <div class="margintop">
        <button mat-button [routerLink]="['/logout']">Logout</button>
    </div>

    <div class="margintop">
        <button mat-button [routerLink]="['/settings']">Settings</button>
    </div> -->
</div>
